<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index_work.css">
    <script type="text/javascript" src="../static/js/jquery-1.8.2.js"></script>
    <script type="text/javascript" >

    </script>
</head>
<body>
<table>

    <tr>
        <td><a href="/user/ToReginPage.do">注册</a></td>
    </tr>

    <tr>
        <td><a href="/user/ToLoginPage.do">登录</a></td>
    </tr>

</table>
</body>
</html>